DATABASE_URL="sqlite:///db.sqlite3"
REDIS_URL=rediscache://127.0.0.1:6379/1?client_class=django_redis.client.DefaultClient&password="123.com"
CELERY_BROKER=redis://:123.com@127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://:123.com@127.0.0.1:6379/1
CHANNEL_LAYER_BACKEND=redis://:123.com@127.0.0.1:6379/2
DEBUG=False
